<configuration scan="true" scanPeriod="60 seconds">
  <!--  See  https://logback.qos.ch/manual/configuration.html for hints on the makeup of this file
        NOTE: Any com.ils.common.log classes must be inserted into catapult.jar as logging is
		      initialized on early startup.
  -->
  <!-- This ends up in the wrapper.log -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- This ends up in the SQLite database and is displayed in the Gateway -->
  <appender name="DB" class="com.inductiveautomation.logging.SQLiteAppender">
    <dir>logs</dir>
    <!--
      Maintenance Settings
      entryLimit: The maximum number of entries in the database. However, at any given time, there may be more than this number, due to how cleanup works.
      maxEventsPerMaintenance: The number of event that can happen before a maintenance cycle occurs.
      minTimeBetweenMaintenance: The minimum time (max frequency) between maintenance events. Takes precedent over max events.
      vacuumFrequency: The number of maintenance cycles before a "vacuum" is performed, to recover disk space.

      On disk, most log events are between 600-800 bytes.
    <entryLimit>50000</entryLimit>
    <maxEventsPerMaintenance>5000</maxEventsPerMaintenance>
    <minTimeBetweenMaintenance>60000</minTimeBetweenMaintenance>
    <vacuumFrequency>3</vacuumFrequency>
    -->
  </appender>

  <!--
  <property name="IGNITION_HOME" value="C:\ignition" />
  -->
  <property name="IGNITION_HOME" value="/usr/local/ignition-7.9.14" />
  <property name="CRASH_BUFFER_SIZE" value="500" />
  <property name="CRASH_APPENDER_THRESHOLD" value="debug" />
  <property name="LOGGING_DATASOURCE" value="Logs" />

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${IGNITION_HOME}/logs/aed.log</file>
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  		<!-- daily rollover. Path must match the one in the file element or else
             the rollover logs are placed in the working directory. -->
        <fileNamePattern>${IGNITION_HOME}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
	</rollingPolicy>
    <encoder>
          <pattern>%d{HH:mm:ss.SSS} %level %logger{35} %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      	<defaultValue>unknown</defaultValue>
	<key>project</key>
    </discriminator>
    <sift>
      <appender name="FILE-${project}" class="ch.qos.logback.core.FileAppender">
        <file>${IGNITION_HOME}/logs/aed-${project}.log</file>
    	<prudent>true</prudent>
        <encoder>
          <pattern>%d{HH:mm:ss.SSS} %level %logger{35} %msg%n</pattern>
         </encoder>
	<filter class="com.ils.common.log.filter.SuppressByMarkerFilter"> 
            <marker>crash</marker>
        </filter>
      </appender>
     </sift>
   </appender>
   <appender name="INNER" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      	<defaultValue>unknown</defaultValue>
	<key>project</key>
    </discriminator>
    <sift>
      <appender name="FILE-${project}" class="ch.qos.logback.core.FileAppender">
        <file>${IGNITION_HOME}/logs/aed-${project}.log</file>
    	<prudent>true</prudent>
        <encoder>
          <pattern>%d{HH:mm:ss.SSS} %level %logger{35} %msg%n</pattern>
         </encoder>
      </appender>
     </sift>
   </appender>

  <root name="ROOT" level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="DB" />
    <appender-ref ref="SIFT" />
    <appender-ref ref="INNER" />
    <appender-ref ref="FILE" />
  </root>

  <logger name="org.apache" level="INFO"></logger>
  <logger name="com" level="INFO" >
    <appender-ref ref="FILE" />
  </logger>
  <logger name="com" level="INFO" >
    <appender-ref ref="SIFT" />
  </logger>
</configuration>
